<html>
<head>
  
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="app_1.css">

</head>
<body>

<div ng-app="app1" ng-controller="customersController1">
<h1> Inventory Control data from different companies </h1>
<div  id="one"> 
<table>
  <tr>
<th> <b>City  </b></th>
<th> <b>Company Name  </b></th>
<th> <b>CustomerID  </b></th>
  </tr>
  <tr ng-repeat="x in names">
   
<td>{{x.City}}</td>
<td>{{x.CompanyName}}</td>
<td>{{x.CustomerID}}</td>
<td><button ng-click=inp(x.CustomerID)>Click to View</button></td>


  </tr>
</table>
</div>

<div  id="two"> 


    <ol>
  <li ng-repeat="x in names1">

    {{ "Order Date:"+x.OrderDate+" OrderID:"+ x.OrderID;}} <br>
    <label ng-repeat=" Products in x.ProductsInBasket">
    {{"ProductName:"+   Products.ProductName }} <br>
    {{" Quantity:"+Products.Quantity }}<br>
    {{" Unit Price:"+Products.UnitPrice}}<br>
    {{" Cost:"+inp1(Products.Quantity,Products.UnitPrice) }} <br><br>
    
  </label>
<br><mark>
 Total Cost:{{x.ProductsInBasket|orderTotal|currency}} <br>
 Total Quantity:{{x.ProductsInBasket|quantityTotal}} {{" items"}} <br>
 Total Products:{{x.ProductsInBasket|productTotal}} {{" products"}}<br>
 </mark>
  <br>
  <br>

  </li>
</ol>
</div>

</div>

<script src="customersController1.js"></script>
<script src="orderTotal.js"></script>

	



	</body>
	</html>